@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap%27");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.25s ease-in-out;
}

:root {
  --main-color: #00518b;
  --bg: #111111;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--bg);
}
/*Start of header section style */

header {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
}

header ul a {
  text-decoration: none;
  color: white;
  font-size: 0.85rem;
}

header img {
  width: 150px;
}
/*End of header section style */

main {
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
/*Start of info section style */
#info {
  margin: 2rem 0;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #181818;
}

#info .container {
  padding: 5rem 1.5rem;
  width: 100%;
  display: flex;
  background: rgba(51, 51, 51, 0.2);
  border: 2px solid #ffffff;
  border-radius: 30px;
}

#info .container .card {
  margin-left: 2rem;
}

#info .container .card h4 {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 1.1rem;
}

#info .container .card h4 span {
  padding-left: 0.5rem;
  font-weight: 200;
}

#info .container img {
  background-color: #d9d9d9;
  padding: 5.5rem 2.5rem;
}

.fa-youtube {
  color: #ff0000;
}
.fa-wikipedia-w,
.fa-newspaper {
  color: #e6e6e6;
}
/*End of info section style */

/*Start of footer section style */
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  padding: 0 2rem;
  color: white;
}

footer img {
  width: 150px;
}

footer ul {
  width: 35%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

footer ul li {
  font-size: 0.7rem;
}

.social {
  width: 6%;
  display: flex;
  justify-content: space-between;
}

.fa-facebook-f {
  color: #0a80ec;
}

.fa-twitter {
  color: #2aa9e0;
}

.fa-instagram {
  color: #f04d4a;
}
/*End of footer section style */


